body{
  margin:0;
  width:100%;
}

.wrapper{
  width:100%;
  overflow: hidden;
}

.header-logo img{
  width:100px;
  margin-bottom: 0;
}

ul{
  list-style: none;
  display:flex;
  justify-content: flex-end;
  margin-top: 0;
}

li{
margin-right: 20px;
color:#999;
}

.first-view{
  position: relative;
}

.first-view-img{
  margin:0 0 0 auto;
  display:block;
  width:50%;
}

.first-view-content{
  position:absolute;
  top:10%;
  left:30%;
}

h1{
  font-size: 55px;
  color:#ff0099;
}

.commit-h2{
  font-size: 20px;
  color: #ff0099;
  margin:0;
}

h2{
  width:80%;
  margin:0 auto;
}

.blue-change{
  color:#339999;
}

h3{
  color:#ff0099;
  margin:0 auto;
  width:80%;
}

.commit-p{
  font-size: 14px;
  width:300px;
}

h1,h3{
  font-family: 'Indie Flower', cursive;}

.news{
  margin: 200px auto;
}

.news-box{
  width:700px;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  margin:0 auto;
}

.news-box > p{
  width:700px;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.about-box{
  background: #f2f2f2;
}

.about-box > h2{
  text-align: center;
}

.about-h3{
  text-align: center;
}

.about-box-content{
  display: flex;
}

.about-img{
  width:30%;
  margin:10px 100px;
  align-items: center;
}

.about-p{
  width:30%;
  margin:10px 100px;
  align-items: center;
}

.service-wrapper{
  margin:100px 0;
}

.service{
  display:grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  width:80%;
}

.service-img{
  display:block;
  width:200px;
  margin:auto;

}

.service-ttl{
  text-align: center;
  color: #ffffff;
  margin:20px;
}

.service-p{
  text-align: center;
  width:80%;
  margin:0 auto;
  color:#ffffff;
}

.service-box2, .service-box3{
  display: flex;
}

.service-box1{
  grid-column: 1/2;
  grid-row:1/3;
  background:#ff0099 ;
}

.service-box2{
  grid-column: 2/3;
  grid-row: 1/2;
  background:#cc00cc ;
}

.service-box3{
  grid-column: 2/3;
  grid-row: 2/3;
  background:#996699 ;
}

.blog{
  background: #f2f2f2;
  margin:100px 0;
}

.blog-img img{
  width: 100%;
  height:auto;
  border-radius: 10px 10px 0 0;
}

.blog-wrapper{
  display:flex;
  justify-content: space-between;
  width:80%;
  margin:0 auto;
}

.blog-box{
  width:30%;
  border:1px solid #ffff;
  border-radius: 10px;
  background:#ffff;
}

.text-box{
  width:90%;
  margin:0 auto;
}

.blog-footer{
  display: flex;
  justify-content: space-between;
  color:#999;
  font-size: 14px;
}

.blog-btn{
  text-align: center;
  margin:20px auto;
}

.blog-a{
  text-decoration: none;
  color:#ff0099;
  background: #ffffff;
  border:1px solid #ff0099;
  border-radius: 30px;
  padding:10px 15px;
}

.company-wrapper{
  margin: 100px 0;;
}

table{
  width:60%;
  border-collapse: collapse;
  margin: 0 auto;
}

table th, table td{
border:1px solid #ccc;
padding:20px;
}

table th{
  font-weight:bold;
  background-color: #dedede;
}

.recruit-interview{
  display:flex;
}

.recruit-ttl{
  background-image: url(../img/recruit.png);
  background-size: cover;
  background-position: center;
  height:300px;
  color:#ffffff;
  text-align: center;
}

.interview-ttl{
  background-image: url(../img/interview.png);
  background-size: cover;
  background-position: center;
  color:#ffffff;
  text-align: center;
}


.info-btn{
  display: inline-block;
  text-decoration: none;
  color:#ffffff;
  background-image: linear-gradient( to right,#ff0099,#990066);
  border-radius: 30px;
  padding:10px 15px;
  box-shadow:0 5px 1px #990066 ;
  margin: 0 auto;
}

.info-btn::before{
  content:"";
  background:url(../img/mailicon.svg);
  background-size:cover;
  vertical-align: middle;
  width:20px;
  height:20px;
  display:inline-block;
  margin-right: 10px;
  text-align: center;
}

footer{
  text-align: center;
}

.footer-p{
  margin:100px auto 50px;
}

.copy-right{
  margin:100px auto 0;
}